<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.insertcode.androidpexperiment"
    >

    <application>
        <activity
            android:name=".DesignLibraryV28Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
    </application>

</manifest>