<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.insertcode.androidpexperiment"
    >

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application>
        <activity
            android:name=".DesignLibraryV28Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".FingerprintDialogActivity" />
    </application>

</manifest>